<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Sporing</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <div padding class="top-container">
    <div *ngIf="liveTrack | async; let liveTrack; else loading" >
      <button *ngIf="!liveTrack.live" (click)="startTracking()" ion-button block>START SPORING</button>
      <button *ngIf="liveTrack.live" [disabled]="liveTrack.user !== settings.displayName" (click)="stopTracking()" ion-button block color="danger">STOP SPORING</button>
      <div *ngIf="liveTrack.live">
        <div>Pizza hentes av: {{ liveTrack.user }}</div>
      </div>
    </div>
    <ng-template #loading>
      Laster sporing...
    </ng-template>
  </div>

  <div #map id="map_canvas"></div>
</ion-content>
